<div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column">
          <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size-3-mobile">Designer, Frontend Developer &amp; Freelancer</h1>
          <h2 class="subtitle is-size-4-tablet">I design and code beautifully simple things, and I love what I do.</h2><img class="avatar" src="https://mattfarley.ca/img/mf-avatar.svg">
        </div>
      </div>
    </div>
    
  <div class="d-none d-md-block mt-5"></div>
  <app-about id="about" class="mb-3"></app-about>

  <div class="d-none d-md-block mt-5"></div>
  <app-projects id="projects" class="mb-5"></app-projects>
</div>