:host {
    display: block;
    background-image: linear-gradient(to bottom ,#212121, #212121 ,  #263238, #212121,  #263238);
}

:host.pc .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}